# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# hide credentials
credentials.json
client_secret_638694165912-b69ia2di3so6t7bqhklk3m0610edjcbv.apps.googleusercontent.com.json